In [4]:
import pymongo

In [5]:
from pymongo import MongoClient
client = MongoClient()

In [6]:
client = MongoClient('localhost', 27017)

In [7]:
db = client.test_database

In [8]:
collection = db.test_collection

In [10]:
import datetime
post = {"author": "Mike",
        "text": "My first blog post!",
        "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [11]:
posts = db.posts
post_id = posts.insert_one(post).inserted_id
post_id

ObjectId('598f61e488d1a0f480dddb0d')

In [13]:
db.collection_names(include_system_collections=False)

['posts']

In [14]:
import pprint
pprint.pprint(posts.find_one())

{'_id': ObjectId('598f61e488d1a0f480dddb0d'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 8, 12, 20, 14, 48, 462000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [15]:
posts.find_one({"author": "Eliot"})

In [16]:
posts

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'posts')

In [18]:
post_id

ObjectId('598f61e488d1a0f480dddb0d')

In [19]:
pprint.pprint(posts.find_one({"_id": post_id}))

{'_id': ObjectId('598f61e488d1a0f480dddb0d'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 8, 12, 20, 14, 48, 462000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [20]:
#post_id is not the same as string representtion
post_id_as_str = str(post_id)
posts.find_one({"_id": post_id_as_str})

In [21]:
from bson.objectid import ObjectId

# The web framework gets post_id from the URL and passes it as a string
def get(post_id):
    # Convert from string to ObjectId:
    document = client.db.collection.find_one({'_id': ObjectId(post_id)})

In [22]:
new_posts = [{"author": "Mike",
               "text": "Another post!",
              "tags": ["bulk", "insert"],
               "date": datetime.datetime(2009, 11, 12, 11, 14)},
             {"author": "Eliot",
              "title": "MongoDB is fun",
              "text": "and pretty easy too!",
               "date": datetime.datetime(2009, 11, 10, 10, 45)}]
result = posts.insert_many(new_posts)
result.inserted_ids

[ObjectId('598f713488d1a0f480dddb0e'), ObjectId('598f713488d1a0f480dddb0f')]

In [26]:
#Find each post
for post in posts.find():
 pprint.pprint(post)

{'_id': ObjectId('598f61e488d1a0f480dddb0d'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 8, 12, 20, 14, 48, 462000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('598f713488d1a0f480dddb0e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('598f713488d1a0f480dddb0f'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}

In [27]:
#Find specific object
for post in posts.find({"author": "Mike"}):
    pprint.pprint(post)

{'_id': ObjectId('598f61e488d1a0f480dddb0d'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 8, 12, 20, 14, 48, 462000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('598f713488d1a0f480dddb0e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}

In [28]:
posts.count()

3

In [29]:
posts.find({"author": "Mike"}).count()

2

In [31]:
d = datetime.datetime(2009, 11, 12, 12)
for post in posts.find({"date": {"$lt": d}}).sort("author"):
  pprint.pprint(post)

{'_id': ObjectId('598f713488d1a0f480dddb0f'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('598f713488d1a0f480dddb0e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}

In [33]:
 result = db.profiles.create_index([('user_id', pymongo.ASCENDING)],
                                  unique=True)
 sorted(list(db.profiles.index_information()))

['_id_', 'user_id_1']

In [34]:
user_profiles = [
  {'user_id': 211, 'name': 'Luke'},
  {'user_id': 212, 'name': 'Ziltoid'}]
result = db.profiles.insert_many(user_profiles)

In [37]:
#Users collection
users = db.users

In [38]:
db.collection_names(include_system_collections=False)

['posts', 'profiles']

In [42]:
db.profiles

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'profiles')

In [100]:
#See the collection Profiles
#Find each post
for db.profile in db.profiles.find():
 pprint.pprint(db.profile)

{'_id': ObjectId('598f72fb88d1a0f480dddb10'), 'name': 'Luke', 'user_id': 211}
{'_id': ObjectId('598f72fb88d1a0f480dddb11'), 'name': 'Ziltoid', 'user_id': 212}
{'_id': ObjectId('598f731588d1a0f480dddb12'), 'name': 'Drew', 'user_id': 213}

In [101]:
db.users

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test_database'), 'users')

In [58]:
#See the collection Users
#Find each post
for db.user in db.users.find():
 pprint.pprint(db.user)

In [73]:
import datetime


start = start = datetime.datetime(2016, 11, 11)
end = datetime.datetime(2016, 11, 12)
{'$match': {'timestamp': {'$gte': start, '$lte': end}}}
#db.session.distinct('_id', {'timestamp': {'$gte': start, '$lte': end}})

{'$match': {'timestamp': {'$gte': datetime.datetime(2016, 11, 11, 0, 0),
   '$lte': datetime.datetime(2016, 11, 12, 0, 0)}}}

In [93]:
#The user collection is empty. We are adding 2 users to it.
new_profile = {
  "_id": ObjectId("45b83bda421238c76f5c1970"),
  "name": "User One",
  "email": "userone@gmail.com",
  "country": "UK",
  "dob": datetime.datetime.utcnow()
}

result1 = db.users.insert_one(new_profile)  # This is fine.

In [188]:
#Added 2 users. Print
#Document can store entries with different id-s but same names.
for db.user in db.users.find():
 pprint.pprint(db.user)

{'_id': ObjectId('45b83bda421238c76f5c1969'),
 'country': 'UK',
 'dob': '$match',
 'email': 'userone@gmail.com',
 'name': 'User One'}
{'_id': ObjectId('45b83bda421238c76f5c1968'),
 'country': 'UK',
 'dob': '$match',
 'email': 'userone@gmail.com',
 'name': 'User One'}
{'_id': ObjectId('45b83bda421238c76f5c1970'),
 'country': 'UK',
 'dob': datetime.datetime(2017, 8, 13, 13, 47, 55, 701000),
 'email': 'userone@gmail.com',
 'name': 'User One'}

In [155]:
new_post = {
  "_id": ObjectId("17c9812acff9ac0bba018cc2"),
  "user_id": ObjectId("45b83bda421238c76f5c1968"),
  "date": datetime.datetime.utcnow(),
  "text": "My life story so far",
  "rating": "important"
}
result2 = db.posts.insert_one(new_post)

In [187]:
for db.post in db.posts.find():
 pprint.pprint(db.post)

{'_id': ObjectId('598f61e488d1a0f480dddb0d'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 8, 12, 20, 14, 48, 462000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('598f713488d1a0f480dddb0e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('598f713488d1a0f480dddb0f'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('598fcbae88d1a0f480dddb15'), 'name': 'Drew', 'user_id': 213}
{'_id': ObjectId('598fcd9588d1a0f480dddb16'), 'name': 'Drew', 'user_id': 213}
{'_id': ObjectId('17c9812acff9ac0bba018cc1'),
 'date': '$match',
 'rating': 'important',
 'text': 'My life story so far',
 'user_id': ObjectId('45b83bda421238c76f5c1968')}
{'_id': ObjectId('17c9812acff9ac0bba018cc2'),
 'date': datetime.datetime(2017, 8, 13, 17, 46, 19, 905000),
 'rating': 'important',
 'text': 'My life story so far',
 'user_id': ObjectId('45b83bda421238c76f5c1968')}

In [102]:
for db.profile in db.profiles.find():
 pprint.pprint(db.profile)

{'_id': ObjectId('598f72fb88d1a0f480dddb10'), 'name': 'Luke', 'user_id': 211}
{'_id': ObjectId('598f72fb88d1a0f480dddb11'), 'name': 'Ziltoid', 'user_id': 212}
{'_id': ObjectId('598f731588d1a0f480dddb12'), 'name': 'Drew', 'user_id': 213}

In [220]:
#Example on Aggregation number 1.
pipeline = [{'$lookup': 
                {'from' : 'users',
                 'localField' : 'user_id',
                 'foreignField' : '_id',
                 'as' : 'userinfo'}},
             {'$unwind': '$userinfo'},
             {'$match':
                      { "rating": 'important' } },
             { "$project": {
                             "text": 1,
                             "date": 1,
                             "userinfo.name": 1,
                             "userinfo.country": 1
           }}]

for doc in (db.posts.aggregate(pipeline)):
    pprint.pprint (doc)

{'_id': ObjectId('17c9812acff9ac0bba018cc1'),
 'date': '$match',
 'text': 'My life story so far',
 'userinfo': {'country': 'UK', 'name': 'User One'}}
{'_id': ObjectId('17c9812acff9ac0bba018cc2'),
 'date': datetime.datetime(2017, 8, 13, 17, 46, 19, 905000),
 'text': 'My life story so far',
 'userinfo': {'country': 'UK', 'name': 'User One'}}

In [224]:
#Example on Aggregation number 2.
from pymongo import MongoClient
db = MongoClient().aggregation_example
result = db.things.insert_many([{"x": 1, "tags": ["dog", "cat"]},
                                {"x": 2, "tags": ["cat"]},
                                {"x": 2, "tags": ["mouse", "cat", "dog"]},
                                {"x": 3, "tags": []}])
result.inserted_ids
[ObjectId('498f72fb88d1a0f480dddb10'), ObjectId('498f72fb88d1a0f480dddb11'),
 ObjectId('498f72fb88d1a0f480dddb12'), ObjectId('498f72fb88d1a0f480dddb13')]

[ObjectId('498f72fb88d1a0f480dddb10'),
 ObjectId('498f72fb88d1a0f480dddb11'),
 ObjectId('498f72fb88d1a0f480dddb12'),
 ObjectId('498f72fb88d1a0f480dddb13')]

In [225]:
from bson.son import SON
pipeline = [
      {"$unwind": "$tags"},
      {"$group": {"_id": "$tags", "count": {"$sum": 1}}},
      {"$sort": SON([("count", -1), ("_id", -1)])}
    ]
import pprint
pprint.pprint(list(db.things.aggregate(pipeline)))
[{u'_id': u'cat', u'count': 3},
 {u'_id': u'dog', u'count': 2},
 {u'_id': u'mouse', u'count': 1}]

[{'_id': 'cat', 'count': 9},
 {'_id': 'dog', 'count': 6},
 {'_id': 'mouse', 'count': 3}]

[{'_id': 'cat', 'count': 3},
 {'_id': 'dog', 'count': 2},
 {'_id': 'mouse', 'count': 1}]